@page
@model ErrorModel
@{ ViewData["Title"] = "Erro"; }
<section class="py-1">
    <div class="row">
        <div class="col-12">
            <h1 class="text-danger">Ahhh não!!!</h1>
            <h2 class="text-danger">Um erro ocorreu durante o processamento do seu pedido.</h2>
            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Requisição ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </div>
    </div>
</section>