@{
    Layout = null;
}
<style>
    .rodapeloginregister {
        font-size:12px;
        font-weight:700;
        color:#101010;
    }
</style>
<p class="my-5 text-gray-400 text-center rodapeloginregister">
    Idealizado por SmartSale - Desenvolvido por <a href="http://www.depoisdalinha.com.br" class="external text-gray-400" target="_blank">Depois da Linha</a> - versão: 1.0.0 - Tecnologia: Net Core 2.2
</p>