@page
@model ForgotPasswordConfirmation
@{ ViewData["Title"] = "CONFIRMAÇÃO DE ESQUECEU SUA SENHA"; }
<h2>@ViewData["Title"]</h2>
<p>
    Por favor, verifique o seu email com as instruções para reset de senha
</p>